.container {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 70px;
  background-color: grey;
  padding: 10px;
}
.cell {
  width: 25px;
  height: 25px;
  background-color: white;
  display: inline-block;
  margin-bottom: -6px;
  margin-right: -1px;
}

.border {
  border: solid 1px black;
}

.row {
  margin: 0 auto;
  width: 30%;
}
.red {
  background-color: red;
}
